*{
    padding:0px;
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-image: linear-gradient(orange,tomato);
}
.logo{
    width:30%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}
.menu ul{
    display:flex;
    list-style: none;
    margin-right: 30px;
}
.menu ul li{
    padding:0px 35px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.first-container{
    display:flex;
    padding-left:3%;
    padding-top:3%;
    margin-bottom: 80px;
    background-image: url(images/bg5.jpg);
    background-repeat: no-repeat;
}
.half-width{
    width:50%;
}
.heading{
    font-size: 40px;   
}
.color-text{
    color:orangered;
}
#EatHealthy{
    margin-top: 120px;
}
.half-width p{
    width:77%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.half-width img{
    width:70%;
    margin-left: 10px;
}
.btn{
    padding: 10px 30px;
    background-image: linear-gradient(salmon,orangered);
    text-decoration: none;
    color:white;
    font-weight: bold;
    border-radius: 20px;
}
.second-container{
    display:flex;
    align-items: center; 
    margin-bottom: 60px;
    background-image: url(images/bg2.png);
    
} 
.second-container p{
    padding-bottom: 10px;
}
#male img{
    width:60%;
    margin-left: 130px;
}
.recipe{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    margin-bottom: 20px;

}
.recipe h1{
    font-size: 30px;
    text-shadow:5px 5px 5px lightseagreen;
    color:darkred;
}
.recipe p{
    margin-top: 20px;
    
}
.all-box{
    display: flex;
    justify-content: space-evenly;
}
.box{
    width:26%;
    box-shadow:10px 10px 30px silver;
    border-bottom:5px solid lightseagreen;
    padding-left:10px;
    padding-top:8px;
    padding-bottom:60px;
    border-radius: 25px;
}
.box img{
    width:98%;
    border-radius: 30px;
    margin-bottom: 8px; 
}
.Register_section{
    margin-top: 80px;
}
.Register_section h1{
    text-align: center;
    text-shadow: 2px 2px 4px silver;
    color:red;
    margin-bottom: 60px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    
}
.form{
    width:40%;
    height:370px;
    margin-bottom:60px;
    margin-left:30%;
    background-image: linear-gradient(lightgreen,skyblue);
    margin-top:10px;
    border-radius: 20px;
    font-size:20px;
    color:black;
    overflow: hidden;
    box-shadow: 10px 10px 40px blue;
    padding:10px;
    border-left: 8px solid;
    border-image: linear-gradient(navy,tomato);
    border-image-slice: 1;
}

.pass{
     width:100%;
    padding:8px 0px;
    border-radius: 10px;
    border-color: rgb(7, 206, 67);
}
.gender{
    margin-top: 3px;
    font-size:24px;
    margin-left:4px;
}
.gender label{
    color:crimson;
}
.check{
    margin-left: 8px;
    font-size: 22px;
    color:rgb(136, 2, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px lightslategrey;
    text-align: center;
}
#submit{
    width:70%;
    margin-left: 15%;
    padding:8px 0px;
    background-color: limegreen;
    border-color:rgb(78, 7, 78);
    border-radius: 15px;  
    margin-top:8px;
    font-size: 16px;
    font-weight: bold;
    color:whitesmoke;
}
footer{
    background-color: black;
    text-align: center;
    color:white;
    padding-bottom:50px;
    padding-top:40px;
    margin-top:150px;
}
footer p{
    margin-top:30px;
}